<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>{{ title }} | Documentation</title>
  <!--
    Syntax Highlighter by Alex Gorbatchev
    http://alexgorbatchev.com/SyntaxHighlighter
  -->
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js"></script>
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js"></script>
  <link rel="stylesheet" type="text/css" href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css"></script>
  <link rel="stylesheet" type="text/css" href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css"></script>
  <style>
  </style>
</head>
<body>
  <h1>Comment</h1>
  <div id="comment">
    {{ comment }}
  </div>

  <h1>Source</h1>
  <pre class="brush: js" id="source">
{{ source }}
  </pre>
  <script type="text/javascript">
    SyntaxHighlighter.all();
  </script>
</body>
</html>
